<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Structured Data Output</title>
</head>
<body>
  <div class="container">
    {{#each data}}
      {{{this}}}
    {{/each}}
  </div>
</body>
</html
